{% extends "base.html" %}

{% block title %}My birthdays{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
    </div class="col-md-12">
      {% if birthdays %}
        <h1>Your birthday list</h1>
        {% for birthday in birthdays %}
          <hr />
          <h2>{{birthday.firstName}} {{birthday.lastName}}</h2>
        	<h3>{{birthday.date.strftime('%d %B')}}</h3>
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary"  href = {{ uri_for('birthdayDetail', bday_id=birthday.key.id()) }}>View</a>
            <a class="btn btn-success" href = {{ uri_for('birthdayCreate', edit=birthday.key.id()) }}>Edit</a>
            <a class="btn btn-danger" href = {{ uri_for('birthdayDelete', bday_id=birthday.key.id()) }}>Delete</a>
          </div><!-- /.btn-group -->
        {% endfor %}
      {% endif %}
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
{% endblock %}

