{% extends "base.html" %}

{% block title %}My birthdays{% endblock %}

{% block content %}
<div class="container">
<br />
{% for birthday in birthdays %}
	{{birthday.firstName}}<br />
	{{birthday.lastName}}<br />
	{{birthday.date}}<br />
	{{birthday.monthday}}
	{{birthday.owner.identity}}
	<a href = {{ uri_for('birthdayDetail', bday_id=birthday.key.id()) }}>View</a>
	<a href = {{ uri_for('birthdayCreate', edit=birthday.key.id()) }}>Edit</a>
	<a href = {{ uri_for('birthdayDelete', bday_id=birthday.key.id()) }}>Delete</a>
	<hr />
{% endfor %}
</div>
{% endblock %}

